/* srcollbar */
:root {
  scrollbar-color: #3f3f48 #1e1e24;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1e1e24;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #3f3f48;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
